body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.materialForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 100vw;
  height: 100vh;
background-color: skyblue;
}

.materialForm > Form{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 32px;
  min-width: 350px;
  border-radius: 8px;
  margin:32px;
}
